<html>
<head>
    <title>Categorias</title>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
    <section class="formulario">
    
            <h2 id="change">Formulario de altas de Categorias</h2>
    
    <form id="alta_categoria" method="post">

        <div>
  <label for="fname">Categoria:</label><br>
  <input type="text" id="fname" name="fname" class="input_text" placeholder="categoria" required autocomplete="off"><br>
        </div>
        
        <div>
<button  type="button" class="btn">Cancelar</button>
<button  type="submit" class="btn" id="cliquea">Guardar</button><br>
        </div>

    </form>

            <h2 id="chauNombre">Maria Constanza Villagran</h2>
</section>  
<div>
<button id="btn_guardar" class="btn" type="submit"><a href="../../views/index.html"><h2>Volver a Inicio</h2></a></button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"              integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="              crossorigin="anonymous"></script>
<script src="../../assets/js/validaciones.js"></script>
</body>


</html>