<html>
<head>
    <title>MI PROYECTO</title>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
   <a href="../backend/views/productos.html"><li>Productos</li></a>
  <a href="../backend/views/categorias.html""><li>Categorias</li></a>
  
            </ul>
    </header>


<section class="segundo">
    
    <form action="/action_page.php">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="Juan"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Lopez"><br><br>
  <input type="submit" value="Submit">
</form>

</section>     

<section class="primer">
    <div>
            <h1>Titulo</h1>
            <h2>Bienvenido a nuestra clase</h2>
            <button>Click here</button>
    </div>
</section>

<div class="EjercicioDeCajas">
    <div class="caja Rojo"></div>
    <div class="caja Azul"></div>
    <div class="caja Verde"></div>
    <div class="caja Naranja"></div>
    <div class="caja Amarillo"></div>
    
    <div class="caja Negro"></div>
    <div class="caja Otro"></div>
    <div class="caja Otro1"></div>
    <div class="caja Otro2"></div>
    <div class="caja Otro3"></div>
    
</div>   
    
        
    
</body>

</html>