<html>
<head>
    <title>Productos</title>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
    <section class="formulario">

    <form action="/action_page.php">
<h1>Formulario de altas de productos</h1>
  <label for="fname">Producto:</label><br>
  <input type="text" id="fname" name="fname" class="input_text" required><br>

  <label for="img">Imagen:</label><br>
  <input type="file" id="img" name="img_producto" class="input_text"><br>

  <label> Descripcion:</label><br>
  <textarea class="input_text"></textarea> <br>

  <label for="precio">Precio:</label><br>
  <input type="number" id="precio" name="precio_producto" class="input_text"><br>

  <label for="cat">Categoria:</label><br>
  <input type="number" id="cat" class="input_text"><br>

<button id="btn_cancelar" class="btn" type="button">Cancelar</button>
<button id="btn_guardar" class="btn" type="submit">Guardar</button><br>

</form>

<h2>Maria Constanza Villagran</h2>
</section>  
</body>


</html>